@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  background-color: #0F0E0E;
  color: #DFD3C3;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 24px;
}

h1 {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

h5 {
  margin-top: 8px;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: #8AB6D6;
}
a:hover {
  color: #789eb9;
}

dl:has(dt + dd) dt {
  margin-top: 12px;
}
dl dt:first-of-type {
  margin-top: 0;
}

dt {
  font-size: 18px;
}

dd {
  font-size: 14px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1028px;
  margin: auto;
}

.github-icon {
  margin-left: 24px;
  display: flex;
}

/* INDEX PAGE */
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

@media (max-width: 600px) {
  .columns {
    grid-template-columns: 1fr;
  }
}
