body {
  background-color: #0F0E0E;
  color: #DFD3C3;
}

a {
  text-decoration: none;
  color: #94a3b8;
}
a:hover {
  color: #64748b;
}

dl:has(dt + dd) dt {
  margin-top: 12px;
}
dl dt:first-of-type {
  margin-top: 0;
}

dt {
  font-size: 18px;
}

dd {
  font-size: 14px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1028px;
  margin: auto;
}

/* INDEX PAGE */
